.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 645px;
    height: 290px;
    gap: 40px;
    background-color: rgb(233, 139, 139);
    border-radius: 16px;
}

.text{
    display: flex;
    flex-direction: column;
    height: 225px;
    justify-content: space-around;
    align-items: center;
}

.button{
    background-color: rgb(170, 4, 4);
    border-radius: 16px;
    width: 160px;
    height: 40px;
    border: none;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}
button:hover{
    background-color: rgba(189, 3, 3, 0.658);
}
.img{
    border-radius: 16px;
}